.team {
  background-color: $black;
  color: $white;
  padding-bottom: 100px;

  .title {
    color: $white;
  }
  
  .photo {
    min-width: 130px;
    min-height: 130px;
    border-radius: 50%;
    background-color: #ccc;
  }
}